/* FONTS */
@font-face {
   font-family: myFont;
   src: url(../fonts/BebasNeue.otf);
}
@font-face {
    font-family: mySecondFont;
    src: url(../fonts/Montserrat-Light.otf);
}
@font-face {
    font-family: mySecondFontSec;
    src: url(../fonts/montserrat-light-webfont.eot);
}
@font-face {
    font-family: myThirdFont;
    src: url(../fonts/bebasneuebook-webfont.eot);
}
@font-face {
    font-family: myThirdFontSec;
    src: url(../fonts/BebasNeueBook.otf);
}
/* general styles */
html, body {
  height: 100%;
  width: 100%;
}
.holderBox{
display: table;
margin-left:auto;
margin-right:auto;
}
.holderBox img{
display: table;
margin-left:auto;
margin-right:auto;
}
/* padded section */
.pad-section {
  padding: 70px 0;
}
.pad-sectiontop {
  padding-top:50px;
}
.pad-sectiontopsec {
  padding-top:20px;
}
.pad-section img {
  width: 100%;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* NAVBAR
--------------------
-------------------- */
.navbar-default{
border-bottom: 2px solid #003e7e;
}
.nav li{
font-family: 'mySecondFont', 'mySecondFontSec';
font-size:13px;
}
.navbar-default .navbar-collapse ul li a{
color:#444445;
}
.navbar-default .navbar-collapse ul li a:hover{
color: #54B948;
}
.navbarmain{
background: url(../images/gray.jpg);
}

/* FIRST SECTION HOME
----------------------
---------------------- */

#faqSite {
    background: url(../images/bmune-what-is-bmune.jpg)fixed;
    display: table;
    height: 80%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@media screen and (max-width: 500px) {
#faqSite {
    background: url(../images/bmune-what-is-bmune.jpg) no-repeat center center ;
    display:table;
    height: 50%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top:50px;
    }
#about{
  
}
}
/* ONLY FOR FAQ SITE
---------------------
--------------------- */
.faqHeader{
font-family: myFont;
font-size:35px;
margin-top:15px;
}
#popUp{
margin-top:25px;
}

.textFont{
font-family:'mySecondFont', 'mySecondFontSec';
}

.panel.panel-default{
margin-bottom:20px;
}
/* FOURTH(FOOTER) SECTION HOME
----------------------
---------------------- */
footer{
background-color:#262b2b;
border-top: 1px solid white;
}

.textFooter{
color:white;
font-family:'myThirdFont', 'myThirdFontSec';
letter-spacing:1.5px;
font-size:20px;
margin:0;
padding:0;
text-align:center;
}

#footerHolder{
background-color:#202020;
color:white;
text-align:center;
font-family:'myThirdFont', 'myThirdFontSec';
font-size: 20px;
padding-top:5px;
}

#imageHolder{
margin-left:auto;
margin-right:auto;
display: table;
}
#imageHolder a{
padding:3px;
}
#bottomText{
color:#575757;
margin-bottom:5px;
text-align:center;
font-size:10px;
}
